.cards{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20px;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px   ;
    overflow: hidden;
  
}

#id1{
z-index: 4;

}


#id2{
z-index: 3;
transform: translate(-50%,-50%) rotate(-8deg)

}
#id2:hover{
z-index: 10;
}
#id3:hover{
    z-index: 10;   
}
#id4:hover{
 z-index: 10;   
}
#id3{
z-index: 2;
transform: translate(-50%,-50%) rotate(-16deg)
}

#id4{
z-index: 1;
transform: translate(-50%,-50%) rotate(-24deg)
}

html,body  {
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 217, 0);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
